#ul1 {
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13pt;
    width: 22%;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}
li a{
    text-decoration: none;
    display:block;
    color:black;
    padding: 3px 3px 3px 3px;
    border-bottom: 2px solid black;
}
li a:hover{
    background-color: blue ;
    color:black;
}
.content{
   color: black;
    width:75%;
    
    padding: 1px;
    margin-left: 25%;
}
